{% load static %}

<link rel="stylesheet" href="{% static 'assets/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/bower_components/font-awesome/web-fonts-with-css/css/fontawesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/bower_components/PACE/themes/blue/pace-theme-flat-top.css' %}">
<link rel="stylesheet" href="{% static 'assets/bower_components/toastr/toastr.min.css' %}">
<link rel="stylesheet" href="{% static 'css/app.css' %}">